# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

data_path = 'data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [2]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
profit_by_branch = df.groupby('Branch')['gross income'].agg([
    ('Total Profit', 'sum'),
    ('Average Profit per Sale', 'mean')
])

branch_sum = df.groupby('Branch')['gross income'].sum()
top_profit = branch_sum.idxmax()

avg_income = df.groupby('Branch')['gross income'].mean()
top_avg_income = avg_income.idxmax()

print("Profit Analysis by Branch:")
print(profit_by_branch)
print(f'\nBranch with Highest Profit: {top_profit}')

Profit Analysis by Branch:
        Total Profit  Average Profit per Sale
Branch
A          5057.1605                14.874001
B          5057.0320                15.232024
C          5265.1765                16.052367

Branch with Highest Profit: C

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [4]:
city_profit = df[df['Branch'] == top_profit]['City'].iloc[0]
print(f'City with Highest Profit: {city_profit}')

City with Highest Profit: Naypyitaw

The city of Naypyitaw has the highest total profit and the highest average receipt among all branches.

This indicates strong purchasing power of customers or a strategically successful store location.

I recommend considering the opening of an additional store in this city to scale the successful experience and further strengthen the company‚Äôs market presence in the region.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [5]:
invoices_by_category = df.pivot_table(index='Branch',columns ='Product line',values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [6]:
def max_electronics_accessories(table,category):
  branch_max_invoice = table[category].idxmax()
  max_invoices = table[category].max()
  return (f"Branch with most Electronic accessories purchases: {branch_max_invoice}, number of purchases - {max_invoices}")

result = max_electronics_accessories(invoices_by_category,'Electronic accessories')
print(result)

Branch with most Electronic accessories purchases: A, number of purchases - 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**1. Customers with loyalty cards (Member) may generate more revenue for the company than regular customers (Normal)**

In [7]:
summary_table = df.groupby('Customer type').agg(
    Count = ('Invoice ID', 'count'),
    Average_Total = ('Total', 'mean'),
    Total_Revenue = ('Total', 'sum')
).round(2)

summary_table

               Count  Average_Total  Total_Revenue
Customer type
Member           501         327.79      164223.44
Normal           499         318.12      158743.30

**Insights based on the table:**
- Member customers:
    - Average check: 327.79
    - Total revenue: 164,223.44
- Normal customers:
    - Average check: 318.12
    - Total revenue: 158,743.30
- With nearly equal number of purchases (501 vs 499), Member clients:
    - spend more per purchase,
    - generate higher total revenue.

**Recommendation:**

Promote the loyalty program more actively.
- Offer sign-up bonuses.
- Encourage regular customers to become members.
- Analyze Member behavior to optimize future offers and upselling.

**2. Store profitability varies by day of the week, and some days may be significantly more profitable than others.**

In [8]:
# Step 1. Ensure Date is datetime
df['Date'] = pd.to_datetime(df['Date'])

# Step 2. Create a new column with weekday name
df['Day Of Week'] = df['Date'].dt.day_name()

# Step 3. Group by weekday and sum revenue
busiest_days = df.groupby('Day Of Week')['Total'].sum().reset_index().round(2)

# Step 4. Sort weekdays in correct order
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
busiest_days['Day Of Week'] = pd.Categorical(busiest_days['Day Of Week'], categories=day_order, ordered=True)
busiest_days = busiest_days.sort_values('Day Of Week')

# Step 5. Show the result
busiest_days

  Day Of Week     Total
1      Monday  37899.08
5     Tuesday  51482.25
6   Wednesday  43731.14
4    Thursday  45349.25
0      Friday  43926.34
2    Saturday  56120.81
3      Sunday  44457.89

**Insights based on the table:**

Saturday generates the highest revenue, while Monday is the least profitable. This may be due to weekend shopping habits, promotions, or customer behavior patterns.

**Recommendation:**
1. Intensify marketing on Fridays and Saturdays to boost traffic on peak days.
2. Introduce Monday-only promotions to improve sales on the slowest day.
3. Analyze Saturday customer behavior: identify which products/categories drive the most spending.

**3. Customers in different cities prefer different payment methods. These preferences may depend on demographics, technology adoption, or local consumer habits**

In [9]:
# Step 1. Group by City and Payment
analysis_payment_city = df.groupby(["City", "Payment"])["Total"].agg([
    ('Average Purchase', 'mean'),
    ('Count', 'count'),
    ('Total Revenue', 'sum')
]).round(2)

# Step 2. Calculate total count of transactions per city
total_counts_city = analysis_payment_city.groupby("City")["Count"].transform('sum')

# Step 3. Add percentage column (% of total transactions in each city)
analysis_payment_city["% of Total Count in City"] = (analysis_payment_city["Count"] / total_counts_city * 100).round(2)

# Step 4. Sort by City and percentage (descending)
analysis_payment_city = analysis_payment_city.sort_values(by=["City", "% of Total Count in City"], ascending=[True, False])

# Step 5. Show the result
analysis_payment_city

                       Average Purchase  Count  Total Revenue  \
City      Payment
Mandalay  Ewallet                296.58    113       33513.35
          Cash                   321.27    110       35339.46
          Credit card            342.61    109       37344.86
Naypyitaw Cash                   347.47    124       43085.86
          Ewallet                350.52    106       37155.38
          Credit card            309.46     98       30327.46
Yangon    Ewallet                312.10    126       39324.37
          Cash                   307.10    110       33781.25
          Credit card            318.22    104       33094.75

                       % of Total Count in City
City      Payment
Mandalay  Ewallet                         34.04
          Cash                            33.13
          Credit card                     32.83
Naypyitaw Cash                            37.80
          Ewallet                         32.32
          Credit card                     29.88
Yangon    Ewallet                         37.06
          Cash                            32.35
          Credit card                     30.59

**Insights based on the table:**
1. In Naypyitaw, the most used payment method is Cash, representing 37.8% of all transactions in that city.
2. In Yangon, Ewallet is the most preferred method, accounting for 37.06% of transactions.
3. In Mandalay, all three payment methods are nearly equally distributed ‚Äî each with around 33‚Äì34% share.

**Recommendations:**
1. Targeted promotions:
    - In Naypyitaw, consider launching discounts or cashback offers for digital payment methods (e.g. Ewallet or Credit card) to encourage their adoption.
2. POS infrastructure optimization:
    - In Yangon, it‚Äôs crucial to optimize systems for Ewallet payments, including fast QR scanning and support for mobile payments like Apple Pay or Google Pay.
3. Balanced approach in Mandalay:
    - Since all methods are similarly popular, ensure equal availability and support for all payment options.
4. Localized marketing strategy:
    - Tailor advertising messages based on local payment preferences, e.g., highlighting the convenience of Ewallet in Yangon.